In [1]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('/home/prlima/Documents/code/dash-domestic/data/sql/dash-domestic.db')

# Creating the Tables

In [6]:
cursor = conn.cursor()

In [7]:
cursor.execute(
    """CREATE TABLE IF NOT EXISTS expenses (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        value NUMERIC NOT NULL,
        id_label INTEGER NOT NULL,
        FOREIGN KEY (id_label) REFERENCES expense_label(id_label)
    )""")

In [16]:
cursor.execute(
    """ALTER TABLE expenses ADD COLUMN source TEXT;
    """
)

In [10]:
cursor.execute(
    """CREATE TABLE IF NOT EXISTS expense_label (
        id_label INTEGER PRIMARY KEY,
        label TEXT NOT NULL,
        id_category INTEGER KEY,
        FOREIGN KEY (id_category) REFERENCES expense_category(id_category)
    )""")

In [11]:
cursor.execute(
    """CREATE TABLE IF NOT EXISTS expense_category (
        id_category INTEGER PRIMARY KEY,
        category TEXT NOT NULL
    )""")

In [12]:
cursor.execute(
    """CREATE TABLE IF NOT EXISTS income (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        value NUMERIC NOT NULL
    )"""
)

In [17]:
conn.commit()

In [18]:
conn.close()

In [33]:
# Fixing a mistake

# Organizing files

This part is somewhat complex, so I will no go overboard. <br/>
I will create the tables assuming they will never change, that is, I will use the final table to create the dimension tables.

In [ ]:
gross = pd.read_csv('/home/prlima/Documents/code/dash-domestic/data/grossdata.csv')

In [23]:
labels = gross.id.unique()

In [28]:
expense_label = pd.DataFrame(labels, columns = ['label'])

In [31]:
expense_label.index= expense_label.index + 1

In [32]:
expense_label

               label
1              Lamen
2              Pizza
3           Feijoada
4        Carangueijo
5          Ice cream
6   health insurance
7             braces
8                gym
9            netflix
10       crunchyroll
11    italian course
12              Bike
13    Drawing Tablet