In [1]:
import sys
import os

# pretend we are inside src
sys.path.append(os.path.abspath('../src'))

from subscription import Subscription
from expense import Expense

from decimal import *

from utils import get_weekdays

import pandas

In [6]:
subsc = Subscription('netflix', Decimal("25.50"),(2024,1), (2025,2),10)

In [8]:
data = subsc.generate_subscriptions()

In [9]:
data

[{'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 1, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 2, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 3, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 4, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 5, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 6, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 7, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 8, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 9, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 10, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 11, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2024, 12, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2025, 1, 10)},
 {'id': 'netflix',
  'value': Decimal('25.50'),
  'date': datetime.date(2025, 2, 10)}]

In [2]:
teste = Expense('teste',[Decimal(10)],[1],'constant')

In [3]:
teste.generate_expense(2025,5)

{'id': 'teste', 'value': Decimal('10'), 'date': datetime.date(2025, 5, 5)}

In [7]:
import datetime

In [8]:
datetime.str('2025-01-01')

AttributeError: module 'datetime' has no attribute 'str'

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [9]:
from faking import generate_table_expenses

In [23]:
list_test = [
    ["Lamen", [Decimal("34.99"), Decimal("19.99")], [0.3, 0.7], "constant"],
    ["Pizza", [Decimal("59.99"), Decimal("30")], [0.4, 0.6], "wknd"],
]

In [24]:
table = generate_table_expenses(list_test)

now dealing with Lamen
now dealing with Pizza

In [25]:
pandas.DataFrame(table)

         0      1           2
0    Lamen  34.99  2024-01-05
1    Lamen  19.99  2024-02-23
2    Lamen  19.99  2024-03-25
3    Lamen  34.99  2024-04-08
4    Lamen  19.99  2024-04-30
..     ...    ...         ...
112  Pizza     30  2025-10-25
113  Pizza  59.99  2025-11-10
114  Pizza     30  2025-11-06
115  Pizza     30  2025-12-10
116  Pizza  59.99  2025-12-08

[117 rows x 3 columns]

In [20]:
fixed_behavior = [
    ["health insurance", (2024,8), (2025,6), Decimal(250), 15],
    ["health insurance", (2025,7), (2025,12), Decimal(300), 15]
]

In [10]:
from faking import generate_subscriptions

In [16]:
subscription = fixed_behavior[0]

In [17]:
subscription[0],subscription[3],subscription[1],subscription[2],subscription[4],

('health insurance', Decimal('250'), '2024-08-01', '2025-6-01', 15)

In [21]:
generate_subscriptions(fixed_behavior)

[{'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2024, 8, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2024, 9, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2024, 10, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2024, 11, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2024, 12, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 1, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 2, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 3, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 4, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 5, 15)},
 {'id': 'health insurance',
  'value': Decimal('250'),
  'date': datetime.date(2025, 6, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 7, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 8, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 9, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 10, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 11, 15)},
 {'id': 'health insurance',
  'value': Decimal('300'),
  'date': datetime.date(2025, 12, 15)}]

In [5]:
import datetime

In [6]:
pontual_expenses_list = [
    {
        "id": "Bike",
        "value": Decimal("750"),
        "date": datetime.date(2024, 2, 26)
    },
    {
        "id": "Drawing Tablet",
        "value": Decimal("0"),
        "date": datetime.date(2025, 2, 26)
    }
]

In [7]:
list = []

In [8]:
list.extend(pontual_expenses_list)

In [9]:
list

[{'id': 'Bike', 'value': Decimal('750'), 'date': datetime.date(2024, 2, 26)},
 {'id': 'Drawing Tablet',
  'value': Decimal('0'),
  'date': datetime.date(2025, 2, 26)}]