In [19]:
import sys
import os

# pretend we are inside src
sys.path.append(os.path.abspath('../src'))

from subscription import Subscription
from expense import Expense

from decimal import *

from utils import get_weekdays

import pandas

In [20]:
getcontext().prec = 2

In [22]:
Decimal("23.99")

Decimal('23.99')

In [4]:
get_weekdays(2023,2,1)

[datetime.date(2023, 2, 7),
 datetime.date(2023, 2, 14),
 datetime.date(2023, 2, 21),
 datetime.date(2023, 2, 28)]

In [5]:
teste = Expense('teste',[Decimal(10)],[1],'constant')

In [6]:
teste.generate_expense(2025,5)

['teste', Decimal('10'), datetime.date(2025, 5, 15)]

In [7]:
import datetime

In [8]:
datetime.str('2025-01-01')

AttributeError: module 'datetime' has no attribute 'str'

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [9]:
from faking import generate_table_expenses

In [23]:
list_test = [
    ["Lamen", [Decimal("34.99"), Decimal("19.99")], [0.3, 0.7], "constant"],
    ["Pizza", [Decimal("59.99"), Decimal("30")], [0.4, 0.6], "wknd"],
]

In [24]:
table = generate_table_expenses(list_test)

now dealing with Lamen
now dealing with Pizza

In [25]:
pandas.DataFrame(table)

         0      1           2
0    Lamen  34.99  2024-01-05
1    Lamen  19.99  2024-02-23
2    Lamen  19.99  2024-03-25
3    Lamen  34.99  2024-04-08
4    Lamen  19.99  2024-04-30
..     ...    ...         ...
112  Pizza     30  2025-10-25
113  Pizza  59.99  2025-11-10
114  Pizza     30  2025-11-06
115  Pizza     30  2025-12-10
116  Pizza  59.99  2025-12-08

[117 rows x 3 columns]